<section>
  <div class = "container min-h-screen flex items-center justify-center p-4">
    <div class = "rounded-lg shadow-lg overflow-hidden w-full max-w-lg ">
      <div class = "bg-blue-600 dark:bg-blue-800 py-4 px-6">
        <h2 class = "text-white text-center text-2xl font-bold">Change Your Password</h2>
        <p class = "text-blue-100 text-center dark:text-blue-200">Welcome today!</p>
      </div>
      <!-- Must Add It For Making The Toaster Works  -->
      <p-toast />
      <form
        class = "p-6 space-y-4"
        [formGroup] = "forgetForm"
        (ngSubmit) = "submitForm()"
      >
        <!-- Old Password Field -->
        <div class = "field">
          <label
            for = "password"
            class = "block text-sm font-medium mb-1"
          >Old Password</label>
          <p-password
            formControlName = "password"
            id = "password"
            [style] = "{'width': '100%'}"
            [toggleMask] = "true"
            placeholder = "Enter Your Old Password"
            inputStyleClass = "w-full"
            [feedback] = "false"
          ></p-password>
          <!-- Errors MSG Alert -->
          @let passwordControl = forgetForm.get('password');
          @if (passwordControl?.touched && passwordControl?.errors) {
            <div class = "pt-3">
              @if (passwordControl?.getError('required')) {
                <p-message severity = "error">Is not allowed to be empty</p-message>
              }
              @if (passwordControl?.getError('pattern')) {
                <p-message severity = "error">Must contain at least 8 characters</p-message>
                <p-message severity = "error">Must include at least one uppercase letter, one lowercase letter, one digit, and one special character.</p-message>
              }
            </div>
          }
        </div>
        <!-- Password Field -->
        <div class = "field">
          <label
            for = "password"
            class = "block text-sm font-medium mb-1"
          >New Password</label>
          <p-password
            formControlName = "newPassword"
            id = "newPassword"
            [style] = "{'width': '100%'}"
            [toggleMask] = "true"
            placeholder = "Enter Your New Password"
            inputStyleClass = "w-full"
            [feedback] = "false"
          ></p-password>
          <!-- Errors MSG Alert -->
          @let newPasswordControl = forgetForm.get('newPassword');
          @if (passwordControl?.touched && passwordControl?.errors) {
            <div class = "pt-3">
              @if (newPasswordControl?.getError('required')) {
                <p-message severity = "error">Is not allowed to be empty</p-message>
              }
              @if (newPasswordControl?.getError('pattern')) {
                <p-message severity = "error">Must contain at least 8 characters</p-message>
                <p-message severity = "error">Must include at least one uppercase letter, one lowercase letter, one digit, and one special character.</p-message>
              }
            </div>
          }
        </div>
        <!-- Submit Button -->
        <div class = "pt-2">
          <p-button
            type = "submit"
            label = "Change It Now"
            [disabled] = "forgetForm.invalid"
            styleClass = "w-full p-button-raised"
          ></p-button>
        </div>
      </form>
    </div>
  </div>
</section>
